@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Unbounded:wght@500&display=swap');

body{
  margin: 0;
  overflow-x: hidden;
  
  font-family: 'Hanken Grotesk', sans-serif;
}

h1, h2, h3{
  font-family: 'Unbounded', cursive;
}

i{
  font-size: small;
}

a{
  color: inherit;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

a:hover{
  color: rgba(0, 0, 0, 0.5);
  text-decoration-color: rgba(0, 0, 0, 0.75);
}

button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none;
  background-color: #F0EFF4;
  color: #333333;

  font-size: large;
  padding: 6px;

  margin-right: 3px;
  margin-left: 3px;

  cursor: pointer;

  transition: 0.1s;

  border-radius: 3px;
}

button:hover{
  background-color: #e3e2e9;
  transition: 0.1s;
}

button:active{
  transform: translate(0, 4px);
}

.dark a{
  color: inherit;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.dark a:hover{
  color: rgba(255, 255, 255, 0.5);
  text-decoration-color: rgba(255, 255, 255, 0.75);
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section{
  height: 1000px;
  width: 100vw;
  display: block;
  font-size: 150%;

  box-sizing: border-box;
  padding: 10%;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dark{
  background-color: #0C0B0D;
  color: white;
  z-index: 2;
}

.right{
  width: 50%;
  margin-left: 50%;
}

.left{
  width: 50%;
}

.groove{
  animation: groove 4s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0;

  box-sizing: border-box;
  padding: 3px;
  font-size: inherit !important;
}

#suspense{
  position: absolute;
  bottom: -95vh;
  z-index: 3;
  font-size: small;
  text-align: center;
  width: 80%;
}

#splash{
  font-size: 200%;
  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#splash h1{
  background-image: url("https://media.tenor.com/eeEA_cEAEbQAAAAC/stars-star.gif");
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: titleIn 1s forwards;
}


#endBlock{
  display: block;
  font-size: 150%;

  box-sizing: border-box;
  padding: 10%;

  text-align: center;
}

#finePrint{
  padding: 6px;
  text-align: center;
}

#topBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  box-sizing: border-box;
  
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 12px;
  
  z-index: 1;

  text-align: left;
}

#topBar *{
  margin-top: 0;
  margin-bottom: 0;
}

#topBar h3{
  font-family: 'Hanken Grotesk', sans-serif;
}

#logo{
  height: 40px;
}

@keyframes titleIn{
  from{
    opacity: 0;
    transform: translate(0, -50%) skewX(5deg);
  }
  to{
    opacity: 1;
  }
}

@keyframes scrollDown{
  0%{
    opacity: 0;
  }
  20%, 30%{
    opacity: 1;
  }

  40%{
    transform: translateY(-20px) scale(1.1, 1);
  }
  100%{
    transform: translateY(40vh) scale(0.5, 1);
    opacity: 0;
  }
}

@keyframes groove{
  0%, 50%{
    transform: translateX(0) skewY(0deg);
  }
  60%{
    transform: translateX(10px) skewY(1deg);
    opacity: 1;
  }
  80%{
    transform: translateX(-50vw) skewY(-2deg);
    opacity: 0;
  }
  90%{
    transform: translateX(10vw) skewY(-1deg);
    opacity: 0;
  }
  100%{
    transform: translateX(0) skewY(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 1100px){
  #splash{
    font-size: 150%;
  }

  .section{
    font-size: 100%;
  }
}

@media screen and (max-width: 1500px){
  .sensitiveSection{
    font-size: 100%;
  }
}

@media screen and (max-width: 900px){
  .sidedSection .right, .sidedSection .left{
    width: initial;
    margin-left: initial;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

boxmain {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
